body
{
    background-color: rgb(55, 128, 173)
}
#container
{
    margin-top:30px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#header_ransom{
    text-align:center;
    padding-top:2px;
    padding-bottom:10px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    background-color: white;
    border-radius: 11px;
    border-radius: 11px;
    margin-bottom: 15px;
}
#jester
{
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-position: center center;
    background-image: url("../images/jester.png");
    background-repeat: no-repeat;
}
.ophello
{
    font-weight: bold;
}
.information
{
    font-size: 14px;
    line-height: 18px;
    width: 70%;
    width: 513px;
    margin-left: auto;
    margin-right: auto;
}
.red
{
    color:red !important;
}
.time{
    font-size: 2em;
    font-weight: bold;
}
.diclaimer
{
    color: white;
    width: 520px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.more_information{
    border-top: 1px solid black;
    min-height: 50px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.minfo
{
    width:30%;
    float:left;
}
#menu_ransom
{
    width: 900px;
    min-height: 20px;
    text-align:center;
    margin-bottom:10px;
}
.button
{
    height: 25px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.62) !important;
    color: black;
}
